.title {
    font-size: 4.8rem;
    font-weight: 800;
    color: #22C55E;
  
    margin-top: 60px;
    margin-bottom: 0;
  
    letter-spacing: -2px;
  }
  
  .subtitle {
    margin-top: 18px;
  
    font-size: 1.35rem;
  
    color: #334155;
  
    max-width: 700px;
  
    line-height: 1.7;
  
    font-weight: 500;
  }